@import url('https://code.cdn.mozilla.net/fonts/fira.css');
:root {
    --header-height: 64px;
}
* {
    font-family: "Fira Sans", Helvetica, Arial, sans-serif !important;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-weight: 300;
    font-size: 14px;
    background-color: #F1F1F1 !important;
    color: #777;
    overflow: hidden;
}

header, nav {
    height: var(--header-height);
    width: 100vw;
}

header nav {
    display: flex;
    align-items: center;
    background-color: #fff !important;  
    border-bottom: 1px solid #eeeeee;
    padding: 0 16px;
}

header h1 {
    font-size: 1.6rem;
    margin: 0;
}

main {
    width: 100vw;
    height: calc(100vh - var(--header-height));
    overflow-x: hidden;
    overflow-y: auto;
}

main section {
    position: relative;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.section-header {
    display: flex;
    align-items: baseline;
}

.section-title {
    font-size: 1.25rem;
    margin-right: 16px;
}

.section-toggle {
    padding: 0 4px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #eeeeee;
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
}

.spacer {
    flex: 1;
}

.pointer {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}
